@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: 210 40% 98%;
  --color-foreground: 222 47% 11%;
  --color-border: 214 32% 91%;
  
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
